openapi: 3.0.3
info:
  title: D-Shiftify Voice System API
  description: Voice feature APIs including Speech-To-Text (STT), Text-To-Speech (TTS), voice logs, and analytics.
  version: 1.0.0
  contact:
    name: D-Shiftify Team

servers:
  - url: https://api.shiftify.vn/api/v1
    description: Production
  - url: http://localhost:3000/api/v1
    description: Local development

tags:
  - name: STT
    description: Speech-To-Text conversion
  - name: TTS
    description: Text-To-Speech conversion
  - name: Voice Logs
    description: Voice usage tracking and management
  - name: Voice Analytics
    description: Dashboard monitoring and health checks

security:
  - BearerAuth: []

paths:
  /voice/stt:
    post:
      tags: [STT]
      summary: Convert audio to text
      description: |
        Single audio file speech-to-text conversion.
        - Max duration: 300s (5 min)
        - Max file size: 25MB
        - Supported: webm, mp3, wav, ogg, m4a, flac
        - Auto-creates a voice_log with type=stt
      operationId: convertStt
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SttRequest"
      responses:
        "201":
          description: Transcription successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/SttResult"
        "400":
          description: "Invalid audio (INVALID_AUDIO_FORMAT | AUDIO_TOO_LONG | AUDIO_URL_UNREACHABLE)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: Audio file too large (AUDIO_TOO_LARGE, max 25MB)
        "422":
          description: Unsupported language (LANGUAGE_NOT_SUPPORTED)
        "503":
          description: STT engine unavailable (STT_SERVICE_UNAVAILABLE)

  /voice/stt/batch:
    post:
      tags: [STT]
      summary: Batch audio-to-text (async)
      description: |
        Submit up to 50 audio files for async STT processing.
        Poll status via GET /voice/jobs/{job_id}.
        Optional webhook callback on completion.
      operationId: batchStt
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SttBatchRequest"
      responses:
        "202":
          description: Batch job accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/BatchJob"
        "400":
          description: Invalid request (empty items or exceeds 50)

  /voice/jobs/{job_id}:
    get:
      tags: [STT]
      summary: Get batch job status
      description: |
        Poll async batch STT job status.
        Results included when status is completed/partial.
        Job results retained for 24 hours.
      operationId: getBatchJob
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Job status
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/BatchJob"
        "404":
          description: Job not found (JOB_NOT_FOUND)

  /voice/tts:
    post:
      tags: [TTS]
      summary: Convert text to speech
      description: |
        Generate audio from text.
        - Max text: 5000 characters
        - Speed: 0.5x to 2.0x
        - Output stored permanently on CDN
        - Auto-creates a voice_log with type=tts
      operationId: convertTts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TtsRequest"
      responses:
        "201":
          description: Audio generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/TtsResult"
        "400":
          description: "Invalid input (TEXT_EMPTY | TEXT_TOO_LONG)"
        "422":
          description: "Invalid voice or speed (VOICE_NOT_SUPPORTED | INVALID_SPEED)"
        "503":
          description: TTS engine unavailable (TTS_SERVICE_UNAVAILABLE)

  /voice/tts/preview:
    post:
      tags: [TTS]
      summary: Generate preview audio
      description: |
        Short preview for testing voice settings.
        - Max text: 200 characters
        - Preview expires after 1 hour
        - No voice_log created
      operationId: previewTts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TtsPreviewRequest"
      responses:
        "201":
          description: Preview generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/TtsPreviewResult"

  /voice/voices:
    get:
      tags: [TTS]
      summary: List available voice profiles
      description: |
        Returns all available voice profiles with sample audio.
        Cacheable for the session duration.
      operationId: listVoices
      responses:
        "200":
          description: Voice profiles list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/VoiceProfileInfo"
              example:
                success: true
                data:
                  - voice_id: female_vi
                    label: "Nu - Tieng Viet"
                    language: vi-VN
                    gender: female
                    sample_url: "https://cdn.shiftify.vn/tts/samples/female_vi.mp3"
                    is_default: true
                  - voice_id: male_vi
                    label: "Nam - Tieng Viet"
                    language: vi-VN
                    gender: male
                    sample_url: "https://cdn.shiftify.vn/tts/samples/male_vi.mp3"
                    is_default: false
                  - voice_id: female_en
                    label: "Female - English"
                    language: en-US
                    gender: female
                    sample_url: "https://cdn.shiftify.vn/tts/samples/female_en.mp3"
                    is_default: false
                  - voice_id: male_en
                    label: "Male - English"
                    language: en-US
                    gender: male
                    sample_url: "https://cdn.shiftify.vn/tts/samples/male_en.mp3"
                    is_default: false

  /voice/logs:
    get:
      tags: [Voice Logs]
      summary: List voice logs
      description: |
        Paginated list of voice usage logs.
        Regular users see only their own logs. Admin sees all.
      operationId: listVoiceLogs
      parameters:
        - name: type
          in: query
          schema:
            $ref: "#/components/schemas/VoiceType"
        - name: source
          in: query
          schema:
            $ref: "#/components/schemas/VoiceSource"
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/VoiceLogStatus"
        - name: from
          in: query
          schema:
            type: string
            format: date
        - name: to
          in: query
          schema:
            type: string
            format: date
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: sort
          in: query
          description: "Field:direction, e.g. created_at:desc"
          schema:
            type: string
            default: "created_at:desc"
      responses:
        "200":
          description: Voice logs list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/VoiceLogListItem"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"

  /voice/logs/{voice_log_id}:
    get:
      tags: [Voice Logs]
      summary: Get voice log detail
      description: |
        Full detail including original input, output/result, and error info.
        Regular users can only view their own logs.
      operationId: getVoiceLog
      parameters:
        - name: voice_log_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Voice log detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/VoiceLogDetail"
        "403":
          description: Non-owner non-admin access (FORBIDDEN)
        "404":
          description: Log not found (VOICE_LOG_NOT_FOUND)

    delete:
      tags: [Voice Logs]
      summary: Delete voice log (soft-delete)
      description: Admin-only. Soft-delete preserves audit trail.
      operationId: deleteVoiceLog
      parameters:
        - name: voice_log_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Voice log deleted successfully"
                  data:
                    type: object
                    properties:
                      voice_log_id:
                        type: string
                        format: uuid
                      deleted_at:
                        type: string
                        format: date-time
        "403":
          description: Non-admin access (FORBIDDEN)
        "404":
          description: Log not found or already deleted

  /voice/logs/{voice_log_id}/retry:
    post:
      tags: [Voice Logs]
      summary: Retry failed voice request
      description: |
        Re-queue a failed STT/TTS request using original input.
        - Only logs with status=failed can be retried
        - Maximum 3 retries per log
      operationId: retryVoiceLog
      parameters:
        - name: voice_log_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "202":
          description: Retry queued
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      voice_log_id:
                        type: string
                        format: uuid
                      status:
                        type: string
                        example: processing
                      retry_count:
                        type: integer
                        example: 2
                      message:
                        type: string
                        example: "Request queued for retry"
                      updated_at:
                        type: string
                        format: date-time
        "400":
          description: "Not retryable (NOT_RETRYABLE | MAX_RETRIES_EXCEEDED)"
        "404":
          description: Log not found

  /voice/logs/summary:
    get:
      tags: [Voice Analytics]
      summary: Voice usage statistics
      description: |
        Aggregated voice usage stats for admin dashboard.
        - Max date range: 90 days
        - group_by=hour only for ranges <= 7 days
        - Cacheable for 5 minutes
      operationId: getVoiceSummary
      parameters:
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: group_by
          in: query
          schema:
            $ref: "#/components/schemas/GroupBy"
        - name: type
          in: query
          schema:
            $ref: "#/components/schemas/VoiceType"
      responses:
        "200":
          description: Usage summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/VoiceSummary"
        "400":
          description: "Invalid date range (INVALID_DATE_RANGE, max 90 days)"
        "403":
          description: Non-admin access

  /voice/logs/summary/errors:
    get:
      tags: [Voice Analytics]
      summary: Error breakdown
      description: |
        Detailed failure analysis for debugging.
        Shows error code distribution and recent failures.
      operationId: getVoiceErrorSummary
      parameters:
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: type
          in: query
          schema:
            $ref: "#/components/schemas/VoiceType"
      responses:
        "200":
          description: Error summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/ErrorSummary"
        "403":
          description: Non-admin access

  /voice/health:
    get:
      tags: [Voice Analytics]
      summary: Voice system health check
      description: |
        Health status of STT engine, TTS engine, and audio CDN.
        - overall: healthy | degraded | unhealthy
        - Frontend can show warning banner when degraded/unhealthy
      operationId: getVoiceHealth
      responses:
        "200":
          description: Health status
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/VoiceHealth"
