openapi: 3.0.3
info:
  title: D-Shiftify Voice System API
  description: Voice feature APIs including Speech-To-Text (STT), Text-To-Speech (TTS), voice logs, and analytics.
  version: 1.0.0
  contact:
    name: D-Shiftify Team

servers:
  - url: https://api.shiftify.vn/api/v1
    description: Production
  - url: http://localhost:3000/api/v1
    description: Local development

tags:
  - name: STT
    description: Speech-To-Text conversion
  - name: TTS
    description: Text-To-Speech conversion
  - name: Voice Logs
    description: Voice usage tracking and management
  - name: Voice Analytics
    description: Dashboard monitoring and health checks

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    VoiceSource:
      type: string
      enum: [chat, cv, job, community, system, notification]

    VoiceLogStatus:
      type: string
      enum: [success, failed, processing]

    JobStatus:
      type: string
      enum: [queued, processing, completed, failed, partial]

    VoiceContext:
      type: object
      required: [source, reference_id]
      properties:
        source:
          $ref: "#/components/schemas/VoiceSource"
        reference_id:
          type: string
          format: uuid

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
        error:
          type: object
          properties:
            code:
              type: string
            details:
              type: array
              items:
                type: string

    SttRequest:
      type: object
      required: [audio_url, context]
      properties:
        audio_url:
          type: string
          format: uri
          description: URL of uploaded audio file
          example: "https://cdn.shiftify.vn/audio/chat-001.webm"
        language:
          type: string
          description: "BCP-47 language tag"
          default: vi-VN
          enum: [vi-VN, en-US]
        context:
          $ref: "#/components/schemas/VoiceContext"

    SttResult:
      type: object
      properties:
        stt_id:
          type: string
          format: uuid
        text:
          type: string
          example: "Em quan tam cong viec nay"
        confidence:
          type: number
          format: float
          minimum: 0
          maximum: 1
          example: 0.94
        language:
          type: string
          example: vi-VN
        duration_sec:
          type: number
          format: float
          example: 8.3
        word_count:
          type: integer
          example: 11
        voice_log_id:
          type: string
          format: uuid
        context:
          $ref: "#/components/schemas/VoiceContext"
        created_at:
          type: string
          format: date-time

    SttBatchRequest:
      type: object
      required: [items]
      properties:
        items:
          type: array
          maxItems: 50
          items:
            $ref: "#/components/schemas/SttRequest"
        callback_url:
          type: string
          format: uri
          description: Webhook URL to notify on job completion

    BatchJob:
      type: object
      properties:
        job_id:
          type: string
          format: uuid
        status:
          $ref: "#/components/schemas/JobStatus"
        total_items:
          type: integer
        completed_items:
          type: integer
        failed_items:
          type: integer
        progress_pct:
          type: number
          format: float
        results:
          type: array
          nullable: true
          items:
            type: object
            properties:
              stt_id:
                type: string
                format: uuid
              audio_url:
                type: string
                format: uri
              text:
                type: string
              confidence:
                type: number
                format: float
              voice_log_id:
                type: string
                format: uuid
              status:
                $ref: "#/components/schemas/VoiceLogStatus"
        estimated_completion_sec:
          type: integer
          nullable: true
        created_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
          nullable: true

    # ── TTS Schemas ──
    AudioFormat:
      type: string
      enum: [mp3, wav, ogg]

    VoiceProfile:
      type: string
      enum: [female_vi, male_vi, female_en, male_en]
      default: female_vi

    TtsRequest:
      type: object
      required: [text, context]
      properties:
        text:
          type: string
          maxLength: 5000
          example: "Ban da duoc moi phong van vao thu 6"
        voice:
          $ref: "#/components/schemas/VoiceProfile"
        speed:
          type: number
          format: float
          minimum: 0.5
          maximum: 2.0
          default: 1.0
        format:
          $ref: "#/components/schemas/AudioFormat"
        context:
          $ref: "#/components/schemas/VoiceContext"

    TtsResult:
      type: object
      properties:
        tts_id:
          type: string
          format: uuid
        audio_url:
          type: string
          format: uri
          example: "https://cdn.shiftify.vn/tts/tts-001.mp3"
        duration_sec:
          type: number
          format: float
          example: 5.2
        format:
          type: string
          example: mp3
        file_size:
          type: integer
          description: File size in bytes
          example: 83200
        voice:
          type: string
          example: female_vi
        speed:
          type: number
          format: float
          example: 1.0
        char_count:
          type: integer
          example: 48
        voice_log_id:
          type: string
          format: uuid
        expires_at:
          type: string
          format: date-time
          nullable: true
          description: "null = permanent, set for preview files"
        created_at:
          type: string
          format: date-time

    TtsPreviewRequest:
      type: object
      required: [text]
      properties:
        text:
          type: string
          maxLength: 200
          example: "Day la ban doc thu giong noi"
        voice:
          $ref: "#/components/schemas/VoiceProfile"
        speed:
          type: number
          format: float
          minimum: 0.5
          maximum: 2.0
          default: 1.0
        format:
          $ref: "#/components/schemas/AudioFormat"

    TtsPreviewResult:
      type: object
      properties:
        preview_url:
          type: string
          format: uri
        duration_sec:
          type: number
          format: float
        format:
          type: string
        file_size:
          type: integer
        voice:
          type: string
        speed:
          type: number
          format: float
        expires_at:
          type: string
          format: date-time
          description: Preview files expire after 1 hour

    VoiceProfileInfo:
      type: object
      properties:
        voice_id:
          type: string
          example: female_vi
        label:
          type: string
          example: "Nu - Tieng Viet"
        language:
          type: string
          example: vi-VN
        gender:
          type: string
          enum: [female, male]
        sample_url:
          type: string
          format: uri
        is_default:
          type: boolean

    # ── Shared Objects ──
    VoiceType:
      type: string
      enum: [stt, tts]

    UserSummary:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
        full_name:
          type: string
        role:
          type: string

    PaginationMeta:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer

    # ── Voice Log Schemas ──
    VoiceLogListItem:
      type: object
      properties:
        voice_log_id:
          type: string
          format: uuid
        type:
          $ref: "#/components/schemas/VoiceType"
        source:
          $ref: "#/components/schemas/VoiceSource"
        reference_id:
          type: string
          format: uuid
        status:
          $ref: "#/components/schemas/VoiceLogStatus"
        metadata:
          type: object
          description: "STT: confidence, duration_sec, language, word_count. TTS: duration_sec, voice, char_count, file_size"
        user:
          $ref: "#/components/schemas/UserSummary"
        created_at:
          type: string
          format: date-time

    VoiceLogDetail:
      type: object
      properties:
        voice_log_id:
          type: string
          format: uuid
        user:
          $ref: "#/components/schemas/UserSummary"
        type:
          $ref: "#/components/schemas/VoiceType"
        source:
          $ref: "#/components/schemas/VoiceSource"
        reference_id:
          type: string
          format: uuid
        status:
          $ref: "#/components/schemas/VoiceLogStatus"
        input:
          type: object
          description: Original request parameters
          properties:
            audio_url:
              type: string
              format: uri
            language:
              type: string
            text:
              type: string
            voice:
              type: string
        output:
          type: object
          nullable: true
          description: "Result data (null if failed)"
          properties:
            text:
              type: string
            confidence:
              type: number
              format: float
            duration_sec:
              type: number
              format: float
            audio_url:
              type: string
              format: uri
        error:
          type: object
          nullable: true
          properties:
            code:
              type: string
            message:
              type: string
        retry_count:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    # ── Analytics Schemas ──
    GroupBy:
      type: string
      enum: [hour, day, week, month]
      default: day

    HealthStatus:
      type: string
      enum: [healthy, degraded, unhealthy]

    VoiceSummary:
      type: object
      properties:
        period:
          type: object
          properties:
            from:
              type: string
              format: date
            to:
              type: string
              format: date
        totals:
          type: object
          properties:
            total_requests:
              type: integer
              example: 1200
            success:
              type: integer
              example: 1140
            failed:
              type: integer
              example: 60
            success_rate:
              type: number
              format: float
              example: 95.0
            total_duration_sec:
              type: number
              format: float
              example: 9600.5
            unique_users:
              type: integer
              example: 87
        by_type:
          type: object
          properties:
            stt:
              type: object
              properties:
                total_requests:
                  type: integer
                success:
                  type: integer
                failed:
                  type: integer
                avg_confidence:
                  type: number
                  format: float
                avg_duration_sec:
                  type: number
                  format: float
                total_words_transcribed:
                  type: integer
            tts:
              type: object
              properties:
                total_requests:
                  type: integer
                success:
                  type: integer
                failed:
                  type: integer
                avg_duration_sec:
                  type: number
                  format: float
                total_chars_converted:
                  type: integer
        by_source:
          type: object
          additionalProperties:
            type: object
            properties:
              count:
                type: integer
              pct:
                type: number
                format: float
        timeline:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
              total:
                type: integer
              success:
                type: integer
              failed:
                type: integer
              stt_count:
                type: integer
              tts_count:
                type: integer

    ErrorSummary:
      type: object
      properties:
        period:
          type: object
          properties:
            from:
              type: string
              format: date
            to:
              type: string
              format: date
        total_errors:
          type: integer
        by_error_code:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              count:
                type: integer
              pct:
                type: number
                format: float
              last_occurred_at:
                type: string
                format: date-time
        retryable_count:
          type: integer
        recent_failures:
          type: array
          items:
            type: object
            properties:
              voice_log_id:
                type: string
                format: uuid
              type:
                $ref: "#/components/schemas/VoiceType"
              source:
                $ref: "#/components/schemas/VoiceSource"
              error_code:
                type: string
              user_id:
                type: string
                format: uuid
              retry_count:
                type: integer
              created_at:
                type: string
                format: date-time

    VoiceHealth:
      type: object
      properties:
        overall:
          $ref: "#/components/schemas/HealthStatus"
        services:
          type: object
          properties:
            stt_engine:
              type: object
              properties:
                status:
                  $ref: "#/components/schemas/HealthStatus"
                latency_ms:
                  type: integer
                  nullable: true
                error:
                  type: string
                  nullable: true
                last_checked_at:
                  type: string
                  format: date-time
            tts_engine:
              type: object
              properties:
                status:
                  $ref: "#/components/schemas/HealthStatus"
                latency_ms:
                  type: integer
                  nullable: true
                error:
                  type: string
                  nullable: true
                last_checked_at:
                  type: string
                  format: date-time
            audio_cdn:
              type: object
              properties:
                status:
                  $ref: "#/components/schemas/HealthStatus"
                latency_ms:
                  type: integer
                  nullable: true
                error:
                  type: string
                  nullable: true
                last_checked_at:
                  type: string
                  format: date-time
        queue:
          type: object
          properties:
            pending_jobs:
              type: integer
            processing_jobs:
              type: integer
            avg_wait_time_sec:
              type: number
              format: float
              nullable: true

security:
  - BearerAuth: []

paths:
  # ═══════════════════════════════════════
  #  STT - Speech-To-Text
  # ═══════════════════════════════════════
  /voice/stt:
    post:
      tags: [STT]
      summary: Convert audio to text
      description: |
        Single audio file speech-to-text conversion.
        - Max duration: 300s (5 min)
        - Max file size: 25MB
        - Supported: webm, mp3, wav, ogg, m4a, flac
        - Auto-creates a voice_log with type=stt
      operationId: convertStt
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SttRequest"
      responses:
        "201":
          description: Transcription successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/SttResult"
        "400":
          description: "Invalid audio (INVALID_AUDIO_FORMAT | AUDIO_TOO_LONG | AUDIO_URL_UNREACHABLE)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: Audio file too large (AUDIO_TOO_LARGE, max 25MB)
        "422":
          description: Unsupported language (LANGUAGE_NOT_SUPPORTED)
        "503":
          description: STT engine unavailable (STT_SERVICE_UNAVAILABLE)

  /voice/stt/batch:
    post:
      tags: [STT]
      summary: Batch audio-to-text (async)
      description: |
        Submit up to 50 audio files for async STT processing.
        Poll status via GET /voice/jobs/{job_id}.
        Optional webhook callback on completion.
      operationId: batchStt
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SttBatchRequest"
      responses:
        "202":
          description: Batch job accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/BatchJob"
        "400":
          description: Invalid request (empty items or exceeds 50)

  /voice/jobs/{job_id}:
    get:
      tags: [STT]
      summary: Get batch job status
      description: |
        Poll async batch STT job status.
        Results included when status is completed/partial.
        Job results retained for 24 hours.
      operationId: getBatchJob
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Job status
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/BatchJob"
        "404":
          description: Job not found (JOB_NOT_FOUND)

  # ═══════════════════════════════════════
  #  TTS - Text-To-Speech
  # ═══════════════════════════════════════
  /voice/tts:
    post:
      tags: [TTS]
      summary: Convert text to speech
      description: |
        Generate audio from text.
        - Max text: 5000 characters
        - Speed: 0.5x to 2.0x
        - Output stored permanently on CDN
        - Auto-creates a voice_log with type=tts
      operationId: convertTts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TtsRequest"
      responses:
        "201":
          description: Audio generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/TtsResult"
        "400":
          description: "Invalid input (TEXT_EMPTY | TEXT_TOO_LONG)"
        "422":
          description: "Invalid voice or speed (VOICE_NOT_SUPPORTED | INVALID_SPEED)"
        "503":
          description: TTS engine unavailable (TTS_SERVICE_UNAVAILABLE)

  /voice/tts/preview:
    post:
      tags: [TTS]
      summary: Generate preview audio
      description: |
        Short preview for testing voice settings.
        - Max text: 200 characters
        - Preview expires after 1 hour
        - No voice_log created
      operationId: previewTts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TtsPreviewRequest"
      responses:
        "201":
          description: Preview generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/TtsPreviewResult"

  /voice/voices:
    get:
      tags: [TTS]
      summary: List available voice profiles
      description: |
        Returns all available voice profiles with sample audio.
        Cacheable for the session duration.
      operationId: listVoices
      responses:
        "200":
          description: Voice profiles list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/VoiceProfileInfo"
              example:
                success: true
                data:
                  - voice_id: female_vi
                    label: "Nu - Tieng Viet"
                    language: vi-VN
                    gender: female
                    sample_url: "https://cdn.shiftify.vn/tts/samples/female_vi.mp3"
                    is_default: true
                  - voice_id: male_vi
                    label: "Nam - Tieng Viet"
                    language: vi-VN
                    gender: male
                    sample_url: "https://cdn.shiftify.vn/tts/samples/male_vi.mp3"
                    is_default: false
                  - voice_id: female_en
                    label: "Female - English"
                    language: en-US
                    gender: female
                    sample_url: "https://cdn.shiftify.vn/tts/samples/female_en.mp3"
                    is_default: false
                  - voice_id: male_en
                    label: "Male - English"
                    language: en-US
                    gender: male
                    sample_url: "https://cdn.shiftify.vn/tts/samples/male_en.mp3"
                    is_default: false

  # ═══════════════════════════════════════
  #  Voice Logs - CRUD
  # ═══════════════════════════════════════
  /voice/logs:
    get:
      tags: [Voice Logs]
      summary: List voice logs
      description: |
        Paginated list of voice usage logs.
        Regular users see only their own logs. Admin sees all.
      operationId: listVoiceLogs
      parameters:
        - name: type
          in: query
          schema:
            $ref: "#/components/schemas/VoiceType"
        - name: source
          in: query
          schema:
            $ref: "#/components/schemas/VoiceSource"
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/VoiceLogStatus"
        - name: from
          in: query
          schema:
            type: string
            format: date
        - name: to
          in: query
          schema:
            type: string
            format: date
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: sort
          in: query
          description: "Field:direction, e.g. created_at:desc"
          schema:
            type: string
            default: "created_at:desc"
      responses:
        "200":
          description: Voice logs list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/VoiceLogListItem"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"

  /voice/logs/{voice_log_id}:
    get:
      tags: [Voice Logs]
      summary: Get voice log detail
      description: |
        Full detail including original input, output/result, and error info.
        Regular users can only view their own logs.
      operationId: getVoiceLog
      parameters:
        - name: voice_log_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Voice log detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/VoiceLogDetail"
        "403":
          description: Non-owner non-admin access (FORBIDDEN)
        "404":
          description: Log not found (VOICE_LOG_NOT_FOUND)

    delete:
      tags: [Voice Logs]
      summary: Delete voice log (soft-delete)
      description: Admin-only. Soft-delete preserves audit trail.
      operationId: deleteVoiceLog
      parameters:
        - name: voice_log_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Voice log deleted successfully"
                  data:
                    type: object
                    properties:
                      voice_log_id:
                        type: string
                        format: uuid
                      deleted_at:
                        type: string
                        format: date-time
        "403":
          description: Non-admin access (FORBIDDEN)
        "404":
          description: Log not found or already deleted

  /voice/logs/{voice_log_id}/retry:
    post:
      tags: [Voice Logs]
      summary: Retry failed voice request
      description: |
        Re-queue a failed STT/TTS request using original input.
        - Only logs with status=failed can be retried
        - Maximum 3 retries per log
      operationId: retryVoiceLog
      parameters:
        - name: voice_log_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "202":
          description: Retry queued
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      voice_log_id:
                        type: string
                        format: uuid
                      status:
                        type: string
                        example: processing
                      retry_count:
                        type: integer
                        example: 2
                      message:
                        type: string
                        example: "Request queued for retry"
                      updated_at:
                        type: string
                        format: date-time
        "400":
          description: "Not retryable (NOT_RETRYABLE | MAX_RETRIES_EXCEEDED)"
        "404":
          description: Log not found

  # ═══════════════════════════════════════
  #  Voice Analytics & Monitoring
  # ═══════════════════════════════════════
  /voice/logs/summary:
    get:
      tags: [Voice Analytics]
      summary: Voice usage statistics
      description: |
        Aggregated voice usage stats for admin dashboard.
        - Max date range: 90 days
        - group_by=hour only for ranges <= 7 days
        - Cacheable for 5 minutes
      operationId: getVoiceSummary
      parameters:
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: group_by
          in: query
          schema:
            $ref: "#/components/schemas/GroupBy"
        - name: type
          in: query
          schema:
            $ref: "#/components/schemas/VoiceType"
      responses:
        "200":
          description: Usage summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/VoiceSummary"
        "400":
          description: "Invalid date range (INVALID_DATE_RANGE, max 90 days)"
        "403":
          description: Non-admin access

  /voice/logs/summary/errors:
    get:
      tags: [Voice Analytics]
      summary: Error breakdown
      description: |
        Detailed failure analysis for debugging.
        Shows error code distribution and recent failures.
      operationId: getVoiceErrorSummary
      parameters:
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: type
          in: query
          schema:
            $ref: "#/components/schemas/VoiceType"
      responses:
        "200":
          description: Error summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/ErrorSummary"
        "403":
          description: Non-admin access

  /voice/health:
    get:
      tags: [Voice Analytics]
      summary: Voice system health check
      description: |
        Health status of STT engine, TTS engine, and audio CDN.
        - overall: healthy | degraded | unhealthy
        - Frontend can show warning banner when degraded/unhealthy
      operationId: getVoiceHealth
      responses:
        "200":
          description: Health status
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/VoiceHealth"
